{% load wagtailcore_tags %}
{% load static  %}

{% block body_class %}

<html lang="en">
<head>
<meta charset="utf-8">
<title>Corona Cure Mission</title>
<meta name="language" content="en-us">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="canonical" href="" />
<meta name="description" content="">
<meta property="og:type" content="website" />
<meta property=og:title content="">
<meta name="og:description" content="">
<meta property="og:url" content="" />

<meta property=og:site_name content=coronacuremission>
<link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" sizes="16x16" />

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<link rel="stylesheet"  type="text/css" href="{% static 'css/allinone.css' %}">
<link rel="stylesheet"  type="text/css" href="{% static  'css/custom/home.css' %}">
<link rel="stylesheet"  type="text/css" href="{% static  'css/custom/nav.css' %}">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163403176-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-163403176-1');
</script>
 
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/custom/home.js' %}"></script>
<script src="{% static 'js/custom/homedyn.js' %}"></script>
</head>

<body>

	<div class="container-fluid">
		<div class="row row0">
			<center><h1>COVID 19 Live Updates</h1></center>	<br>
			<div class="col-md-2">
				<button class="button btnlive" id="totalcase">&nbsp; &nbsp; <b>Total Cases</b></button>
			   </div>
			   
			   <div class="col-md-2">
				 <button class="button btnlive" id="totaldeaths">&nbsp; &nbsp; <b>Total Deaths</b></button>
			   </div>
			   
			   <div class="col-md-3">
				<button class="button btnlive" id="totalrec">&nbsp; &nbsp; <b>Total Recovered</b></button>
			   </div>
			   <div class="col-md-2">
				<button class="button btnlive btnview" id="toggleVisibilityButton"><b>Covid 19 Dashboard</b></button>
			   </div>
			   
			   <div class="col-md-12">
				<div class="row rowtable">
				<div class="col-md-4">
			   <div class="table-responsive"> 
			   <div id="displaytable" style="display: none;"><br>
			   <h1>International</h1>
			   <br>
				 <table class="table">
				   <thead>
					 <tr>
					   <th>Country</th>
					   <th>Total Cases</th>
					   <th>Total Deaths</th>
					   <th>Total Recovered</th>
					 </tr>
				   </thead>
				   <tbody>
					 <tr>
					   <td>USA</td>
					   <td>150000</td>
					   <td>1000</td>
					   <td>2000</td>
					 </tr>
					 
					 <tr>
					   <td>USA</td>
					   <td>150000</td>
					   <td>1000</td>
					   <td>2000</td>
					 </tr>
					 
					 <tr>
					   <td>USA</td>
					   <td>150000</td>
					   <td>1000</td>
					   <td>2000</td>
					 </tr>
					 
					 <tr>
					   <td>USA</td>
					   <td>150000</td>
					   <td>1000</td>
					   <td>2000</td>
					 </tr>
					 
					 <tr>
					   <td>USA</td>
					   <td>150000</td>
					   <td>1000</td>
					   <td>2000</td>
					 </tr>
					 
					 <tr>
					   <td>USA</td>
					   <td>150000</td>
					   <td>1000</td>
					   <td>2000</td>
					 </tr>
				   </tbody>
				 </table>
				 </div>
			   </div>
				</div>
				
				<div class="col-md-4">
			   <div class="table-responsive"> 
			   <div id="displaytable2" style="display: none;"><br>
			   <h1>India</h1>
			   <br>
				 <table class="table">
				   <thead>
					 <tr>
					   <th>Country</th>
					   <th>Total Cases</th>
					   <th>Total Deaths</th>
					   <th>Total Recovered</th>
					 </tr>
				   </thead>
				   <tbody>
					 <tr>
					   <td>USA</td>
					   <td>150000</td>
					   <td>1000</td>
					   <td>2000</td>
					 </tr>
					 
					 <tr>
					   <td>USA</td>
					   <td>150000</td>
					   <td>1000</td>
					   <td>2000</td>
					 </tr>
					 
					 <tr>
					   <td>USA</td>
					   <td>150000</td>
					   <td>1000</td>
					   <td>2000</td>
					 </tr>
					 
					 <tr>
					   <td>USA</td>
					   <td>150000</td>
					   <td>1000</td>
					   <td>2000</td>
					 </tr>
					 
					 <tr>
					   <td>USA</td>
					   <td>150000</td>
					   <td>1000</td>
					   <td>2000</td>
					 </tr>
					 
					 <tr>
					   <td>USA</td>
					   <td>150000</td>
					   <td>1000</td>
					   <td>2000</td>
					 </tr>
				   </tbody>
				 </table>
				 </div>
			   </div>
				</div>
				
				
				<div class="col-md-4">
			   <div class="table-responsive"> 
			   <div id="displaytable3" style="display: none;"><br>
			   <h1>India</h1><br>
				 <table class="table">
				   <thead>
					 <tr>
					   <th>Country</th>
					   <th>Total Cases</th>
					   <th>Total Deaths</th>
					   <th>Total Recovered</th>
					 </tr>
				   </thead>
				   <tbody>
					 <tr>
					   <td>USA</td>
					   <td>150000</td>
					   <td>1000</td>
					   <td>2000</td>
					 </tr>
					 
					 <tr>
					   <td>USA</td>
					   <td>150000</td>
					   <td>1000</td>
					   <td>2000</td>
					 </tr>
					 
					 <tr>
					   <td>USA</td>
					   <td>150000</td>
					   <td>1000</td>
					   <td>2000</td>
					 </tr>
					 
					 <tr>
					   <td>USA</td>
					   <td>150000</td>
					   <td>1000</td>
					   <td>2000</td>
					 </tr>
					 
					 <tr>
					   <td>USA</td>
					   <td>150000</td>
					   <td>1000</td>
					   <td>2000</td>
					 </tr>
					 
					 <tr>
					   <td>USA</td>
					   <td>150000</td>
					   <td>1000</td>
					   <td>2000</td>
					 </tr>
				   </tbody>
				 </table>
				 </div>
			   </div>
				</div>
				
				 </div>
			   </div>
			   

			   <div class="col-md-3"></div>
		 
	  </div>
	</div>

	<span class="position-absolute trigger"><!-- hidden trigger to apply 'stuck' styles --></span>
<nav class="navbar navbar-expand-md navbar-dark  sticky-top fixed-top">
  <a class="navbar-brand" href="/" title=""><img src="{%static  'images/logo3.png' %}" class="logo" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link expand current" title=" " href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link expand" title=" " href="/blog-index-page">OUR BLOGS</a>
      </li>
	     
    </ul>
  </div> 
</nav> 
<div class="container-fluid cont1-margin-top">
 <div class="row">
    <div class=" col-md-6 col-12 inner-cont1" >
		<h1>FIGHT AGAINST CORONAVIRUS</h1>
		<h2>COVID-19</h2>
		
		<p>The disease causes respiratory illness (like the flu) with symptoms such as a cough, fever, and in more severe cases, difficulty breathing.</p>
		
		<form action="/blog-index-page">
			<button class="button btn1">GET DETAILS</button>
		</form>		 
	</div>
    <div class=" col-md-6 col-12 order-first order-sm-last"><img src="{%static 'images/homecorona.png' %}" alt="Website and Mobile App Development" class="img-bg animated pulse delay-2s slow"></div>
  </div>
</div>

<div class="container-fluid">
	<div class="row row03">
	   <div class="col-md-6 col-12">
			<img src="{% static 'images/newsletter1.png' %}" alt="Website and Mobile App Development" class="img-newsletter">
	   </div>
	    
	   <div class=" col-md-6 col-12">
	   <div class="newsltterdiv">
		   <p>Newsletter</p>
		   <h1>Want the latest Coronavirus News?</h1>
		   <p>Sign up for newsletter to get daily news.</p>
		   <div class="css-m508gv">
                 <!--Wagtail Forms-->
			   <form action="/subscribe/" method="POST">
				    {% csrf_token %}
				    {{ form.as_p }}
			   <div class="css-gvzhem">
				   <div class="css-1rr4qq7">

					   <div class="css-qddt1o">Enter your email</div>
					   <input type="email" placeholder="Enter your email" name="subscribe" id="id_subscribe" class="css-12ffvwx">
				   </div>
			   </div>
				   <input class="css-lvitz2" type="submit" onclick="subscribe_message()" name="subscribe_button" value="SUBSCRIBE">
			   </form>
			    <!--Wagtail Forms-->
			   
		   </div>
	   </div>
   
	</div>
</div>
</div>
<div class="bg">
<div class="container-fluid">
  <div class="row row46">
      <div class="col-md-12 col-12">
      <div class="text-center">
        <h3>"The Greatest Wealth is Health"</h3>
      </div>
     </div>
  </div>
</div>
</div>


<div class="container-fluid">
	 <div class="row row4">
		<div class="col-md-12 col-12">
			<div class="covimg">
				<img src="{%static 'images/covid190.png' %}" class="img-covid1" alt="">
			</div>
		</div>
	</div>	
</div>
 
<section class="elementor-element">
 
</section>

<section class="elementor-element2">
	<div class="container-fluid" id="section2">
		 <div class="row row5">
			 <div class="col-md-12 col-12 blogT">
				<h2>Latest <b>BLOGS</b></h2>
			 </div>
			 <div class="row" id="rpost" >
<!--singlePost start -->
			 
			<!--singlePost end -->
	  </div>
	   
	</div>
	</div>
	
	  	

</section> 

 <div class="container-fluid">
      <div class="row fotter">
        <div class="col-lg-4 col-md-12 col-12 section1">
          <div>
            <h3 class="expand">About us</h3>
            <p>
			Our mission is to promote health, keep the world safe and serve the vulnerable,with complete information regrading the same
            </p>
          </div>
          <div class="social">
			<h3 class="expand">Stay Connected On</h3>
			<ul class="ulx">
			  <a href="https://facebook.com/Corona-cure-mission-101068118237934/"><i class="ti ti-facebook"  aria-hidden="true">
			  </i></a>
			  <a href=""><i class="ti ti-twitter-alt" aria-hidden="true"></i></a>
			  <a href=""><i class="ti ti-instagram" aria-hidden="true"></i></a>
			</ul>
		  </div>
		  
        </div>
       


        <div class="col-lg-4 col-md-12 col-12 section3">
          <h3 class="expand">Contact Me</h3>
          <ul class="ulx3">
            <li>
            </li>
            <li><i class="fa fa-envelope"></i>info@coronacuremission.com</li>
          </ul>
        </div>
      </div>
    </div>

 
<script src="{%static 'js/custom/nav.js' %}"></script>
<script>

	document.getElementById("toggleVisibilityButton").addEventListener("click", function(button) {    
	   if (document.getElementById("displaytable").style.display === "none") 		     
		document.getElementById("displaytable").style.display = "block";
	   else document.getElementById("displaytable").style.display = "none";
	});
	
	document.getElementById("toggleVisibilityButton").addEventListener("click", function(button) {    
	   if (document.getElementById("displaytable2").style.display === "none") 		     
		document.getElementById("displaytable2").style.display = "block";
	   else document.getElementById("displaytable2").style.display = "none";
	});
	
	document.getElementById("toggleVisibilityButton").addEventListener("click", function(button) {    
	   if (document.getElementById("displaytable3").style.display === "none") 		     
		document.getElementById("displaytable3").style.display = "block";
	   else document.getElementById("displaytable3").style.display = "none";
	});
	</script>
	

</body>
</html>
{% endblock %}
